body{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background: url(../img/fondo.svg);
    background-size: cover;
    background-attachment: fixed;
}

img{
    border-radius: 6px 6px;
}
