body{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background: url(../img/fondo.svg);
    background-size: cover;
    background-attachment: fixed;
}

.d-blockw-100{
    border-radius: 5px 5px;
}
